body {
    min-height: 100vh;
    min-width: 30%;
    margin: 0;
}

.main {
    display: flex;
    background-color: #034762;
    padding: 0 60px;
    min-height: 300px;
    padding: 70px 70px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: none;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
    color: #EFE7EB;
}


a {
    font-size: 18px;
}

.nav {
    background-color: rgb(226, 80, 80);
    padding: 0 70px;
}

.herobox1 {
    width: 50%;
    padding: 0 50px;
}

.herobox2 {
    width: 50%;
    padding: 0 50px;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #f52525;
    margin-bottom: 0;
    margin-top: 0;
}

.secondary-text {
    font-size: 18px;
    color: #EFE7EB;
    margin-top: 0;
}

button {
    background-color: #3882f6;
    color: white;
    padding: 0 10px;
}

h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
}

.container {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.info {
    max-width: 200px;
}

.info-img {
   border: 4px solid bisque;
   border-radius: 2px;
   width: 150px;
   height: 150px;
}

.text {
 text-align: center;
}

